<div class="card py-4 h-100">
  <div class="card-body text-center">
    <i class="fa fa-plane text-primary mb-2"></i>
    <h4 class="text-uppercase m-0">{{item.name}}</h4>
    <div class="small text-black-50">{{item.destination | uppercase}} {{item.price}}zł</div>
    <div class="small text-black-50">{{item.limit-howManyLeft()}} places reserved</div>
    <hr class="my-4">
    <div class="row justify-content-center align-items-center">
       <button (click)="removeItemFromShoppingCart()" type="button" class="col-2 btn btn-outline-primary">-</button>
       <div class="col-3 col-md-4"><img class="img-thumbnail img-fluid rounded-circle" src="../../assets{{item.imageSrc}}" /></div>
       <button (click)="addItemToShoppingCart()" type="button" [disabled]="!howManyLeft()" class="col-2 btn btn-outline-primary">+</button>
    </div>
  </div>
</div>
