<h3>Comments:</h3>

<div class="alert alert-info text-center" *ngFor="let comment of comments">
 {{comment.text}}
</div>
<div *ngIf="canComment">
 <textarea [(ngModel)]="comment" placeholder="What is your opinion?" ></textarea><br>
 <button (click)="addComment()" class="btn btn-success green"><i class="fa fa-share"></i> Comment</button>
</div>
