<div class="p-5 container">
  <h2>Sign in</h2>
  <input class="form-control" placeholder="Email" [(ngModel)]="credentials.email">
  <input class="form-control" type="password" placeholder="Password" [(ngModel)]="credentials.password">
  <button class="my-2 btn btn-primary" (click)="signIn()">Login</button>
  <a id="sign-in" class="text-center nav-link" routerLink="/signup">Don't have an account? Sign up.</a>
</div>
