.navbar{
 min-height: 70px;
 font-size: 2rem !important;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 transition: background 0.3s linear;
}
.navbar-affix{
 background: rgba(255,255,255,.9);
}

.navbar-brand{
 color: rgba(0,0,0,.5);
 letter-spacing: .0625em;
 font-weight: bold;
 font-size: 1.5rem;
}

.nav-item{
  margin-right: 40px;
}
