<!-- Navigation -->
<nav [ngClass]="{'navbar-affix': affix}" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse bg-light rounded px-4" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="scrollToElementWithId('items')" routerLink="" i18n="Navbar">Offers</a>
        </li>
        <li class="nav-item">
         <a *ngIf="!getUserId()" class="nav-link" (click)="scrollToElementWithId('sign-in')" routerLink="/signin"><i class="fa fa-user text-primary"></i></a>
         <a *ngIf="getUserId()" class="nav-link" (click)="logout()"><i class="fa fa-sign-out text-primary"></i></a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isAdmin()" class="nav-link" (click)="scrollToElementWithId('shopping-cart')" routerLink="/shopping-cart"><i class="fa fa-shopping-cart text-primary"></i></a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isAdmin() && getUserId()" class="nav-link" routerLink="/orders"><i class="fa fa-history text-primary"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

