<section id='shopping-cart' class='items p-5'>
  <div class="container">
    <div class="alert alert-info text-center">
      <strong [ngClass]="[countItemsInShoppingCart() > 10 ? 'text-success' : 'text-danger' ]">You have {{countItemsInShoppingCart()}} elements in your shopping cart</strong>
    </div>
     <div class="row mb-4">
      <div *ngFor="let item of getUniqueItemsInShoppingCart()" class="col-md-4 mb-3 mb-md-0 mt-4">
        <app-shopping-cart-item [item]="item" (removeItemEmitter)="removeItemFromShoppingCart($event)"></app-shopping-cart-item>
      </div>
    </div>

  <button class="my-2 btn btn-primary" (click)="orderItems()">Book</button>
  </div>
</section>
