<section id='orders' class='container my-5'>

     <h2>Orders</h2>
     <div class="row mb-4">
      <div *ngFor="let item of orderedItems" class="col-md-4 mb-3 mb-md-0 mt-4">
        <app-ordered-item [item]="item"></app-ordered-item>
      </div>
     </div>
</section>
