<div *ngIf="item" id='item-details' class="container">
  <div class="card-body text-center">
    <i class="fa fa-plane text-primary mb-2"></i>
    <h4 class="text-uppercase m-0">{{item.name}}</h4>
    <div class="small text-black-50">{{item.destination | uppercase}} {{item.price}}zł</div>
    <div class="medium text-black-50">Description: {{item.description}}</div>
    <div class="medium text-black-50">Trip starts on {{item.startDate  | date: 'yyyy-MM-dd'}}</div>
    <div class="medium text-black-50">Trip ends on {{item.endDate  | date: 'yyyy-MM-dd'}}</div>
    <div class="row">
       <div class="border col-md-4 p-2"><img src="../../assets{{item.imageSrc}}" /></div>
       <div class="border col-md-4 p-2"><img src="../../assets{{item.imageSrc}}" /></div>
       <div class="border col-md-4 p-2"><img src="../../assets{{item.imageSrc}}" /></div>
       <div class="border col-md-4 p-2"><img src="../../assets{{item.imageSrc}}" /></div>
       <div class="border col-md-4 p-2"><img src="../../assets{{item.imageSrc}}" /></div>
       <div class="border col-md-4 p-2"><img src="../../assets{{item.imageSrc}}" /></div>
    </div>
  </div>

  <div *ngIf="isAdmin()" class="card-body text-center">
    <br><label>Name :<input [(ngModel)]="item.name" placeholder="destination"/></label>
    <br><label>Destination :<input [(ngModel)]="item.destination" placeholder="destination"/></label>
    <br><label>Desc :<input [(ngModel)]="item.description"/></label>
    <br><label>Limit: <input [(ngModel)]="item.limit" name="limit"/></label>
    <br><label>Price: <input [(ngModel)]="item.price" label="price"/></label>
    <br><button class="btn btn-primary" (click)="updateItem()">Update</button>
  </div>

  <app-comment [item]="item"></app-comment>
</div>
